<div class="container-fluid page">
  <div class="d-flex page__box p-3 mt-2">Home</div>
  <div class="page__content shadow p-3 position-relative">
    <div class="page__content-data position-absolute text-center">
      <form>
        <div class="form-group">
          <label for="exampleFormControlFile1" class="font-weight-bold" style="font-size: 50%;">Selecciona un archivo</label>
          <div class="custom-file">
            <input type="file" class="custom-file-input" (change)="onFileSelected($event)" accept=".eea" id="exampleFormControlFile1" style="font-size: 50%;">
          </div>
        </div>
      </form>
      <br>
      <button type="button" class="btn btn-outline-primary" (click)="compilar()">Ejecutar</button>
      <br>
      <br>
      <div class="form-group">
        <textarea [(ngModel)]="consola.entrada" class="form-control my-textarea" id="exampleFormControlTextarea1" rows="3" placeholder="Ingrese comando aqui."></textarea>
      </div>
      <br>
      <div class="form-group">
        <textarea [(ngModel)]="consola.salida" class="form-control my-textarea" id="exampleFormControlTextarea2" rows="3" placeholder="salida"></textarea>
      </div>
    </div>
  </div>
</div>
